body {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:  #F8F8F7;
  

}
ul {
  list-style: none;
  padding: 0;
}





